# LinkSphere Environment Variables Sample
PORT=8080

# Local / H2 / MySQL Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=linksphere_db
DB_USERNAME=root
DB_PASSWORD=root

# Supabase Cloud Database & API Credentials
VITE_SUPABASE_URL=https://fcyvfhzrnpgwgdurpzjz.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_gF0ZZyB38oQf2wReYAcXbg_bJTYrBEn
SUPABASE_PROJECT_REF=fcyvfhzrnpgwgdurpzjz
SUPABASE_DB_PASSWORD=your_supabase_db_password

# Security
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION_MS=86400000
